.forecast {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 2rem;
  -webkit-overflow-scrolling: touch;
}

.forecast::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}

.forecast::-webkit-scrollbar-thumb {
  background: #6a717b;
  border-radius: 0.625rem;
}
.forecast::-webkit-scrollbar-track {
  background: transparent;
}

.forecastCard {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  gap: 1.2rem;
}
