.forecast {
  display: flex;
  justify-content: space-between;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 4rem;
  gap: 1rem;
  -webkit-overflow-scrolling: touch;
}

.forecast::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}

.forecast::-webkit-scrollbar-thumb {
  background: #6a717b;
  border-radius: 0.625rem;
}

.forecastCard {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (width >= 1024px) {
  .forecast {
    padding: 2rem;
  }

  .forecastCard {
    width: 10rem;
    height: 10rem;
  }
}
